<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
    <div class="panel-heading">View Page</div>
    <div class="panel-body">

        <div class="form-group">
            <label>BNO</label>
            <input class="form-control" name="bno" th:value="${board.bno}" readonly>
        </div>

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" th:value="${board.title}" readonly>
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="content" rows="3" th:text="${board.content}" readonly></textarea>
        </div>

        <div class="form-group">
            <label>Writer</label>
            <input class="form-control" name="writer" th:value="${board.writer}" readonly>
        </div>

        <div class="form-group">
            <label>Regdate</label>
            <input class="form-control" name="regdate" th:value="${#dates.format(board.regdate, 'yyyy-MM-dd')}" readonly>
        </div>
    </div>
    <!-- end panel -->
    <div class="pull-right">
        <a th:href="@{modify(page=${pageVO.page},
                             size=${pageVO.size},
                             type=${pageVO.type},
                             keyword=${pageVO.keyword},
                             bno=${board.bno})}" class="btn btn-default">Modify/Delete</a>

        <a th:href="@{list(page=${pageVO.page},
                           size=${pageVO.size},
                           type=${pageVO.type},
                           keyword=${pageVO.keyword},
                           bno=${board.bno})}" class="btn btn-primary">Go List</a>
    </div>

    <!-- replies -->
    <div class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>BNO</th>
                    <th>REPLY TEXT</th>
                    <th>REPLER</th>
                    <th>REPLY DATE</th>
                </tr>
            </thead>
            <tbody id="replyTable">

            </tbody>
        </table>
    </div>
</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
    <script th:inline="javascript">

        $(document).ready(function(e){

            (function(){
                // 댓글 불러오기
                replyManager.getAll([[${board.bno}]], printList);
            })();

            function printList(list){
                let str = "";
                let replyObj;
                for(let i = 0; i < list.length; i++){
                    replyObj = list[i];

                    str += "<tr>" +
                        "<td>"+ replyObj.rno +"</td>" +
                        "<td>"+ replyObj.replyText +"</td>" +
                        "<td>"+ replyObj.replyer +"</td>" +
                        "<td>"+ formatDate(replyObj.regdate) +"</td>" +
                        "</tr>";
                }
                $("#replyTable").html(str);
            }

            function formatDate(timeValue){
                const date = new Date(timeValue);
                return date.getFullYear() + "-" +
                    (date.getMonth()+1 >= 10 ? date.getMonth()+1 : '0'+(date.getMonth()+1)) + "-" +
                    date.getDate();
            }
        });


        $(window).load(function(){
            const msg = [[${msg}]];

            if(msg == 'success'){
                alert("정상적으로 처리되었습니다.");
                const stateObj = {msg : ""};
            }
        });
    </script>
</th:block>